/* Home.css */

.caixaAcao {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 17px;
    margin-left: 40px;
    margin-right:30px ;
}

.favoritar, .like, .deslike {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-right: 20px;
    margin-left: 20px;
    color: #555;
    transition: color 0.3s ease;
}

.numeroLD{
font-size: 16px;
font-weight: 600;
margin-left: 10px;
}

.favoritar:hover {
    color: #ff0000; /* Vermelho para hover */
}

.favoritado {
    color: #ff0000 !important; /* Vermelho para favoritado */
}

.like.liked, .deslike.disliked {
    color: #007bff; /* Azul fixo para like e deslike */
}

.material-symbols-outlined {
    margin-right: 5px;
}

.ql-editor {
    border: none; /* Remove a borda ao redor do editor */
}
